%-include('../base/header')-%>

<h2>Bienvenido a la administración de Quejas</h2>
<table class="table table-bordered table-striped text-center mt-4">
    <thead>
        <tr class="bg-primary text-white">
            <th scope="col">Id Cooperativa</th>
            <th scope="col">nom Cooperativa</th>
            <th scope="col">num Cooperativa</th>
            <th scope="col">correo Cooperativa</th>
            <th scope="col">dirrecion Cooperativa</th>
            <th scope="col">tel Cooperativa</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>

    <tbody>
        <% cooperativa.forEach( queja => { %>
            <tr>
                <td><%= cooperativa.id_cooperativa %></td>
                <td><%= cooperativa.nombre_Cooperativa %></td>
                <td><%= cooperativa.num_identificacion %><</td>
                <td><%= cooperativa.correo_cooperativa %><</td>
                <td><%= cooperativa.direccion_cooperativa %><</td>
                <td><%= cooperativa.telefono_cooperativa %><</td>
                <td>
                    <a href="cooperativaEdit.ejs" class="btn btn-outline-info">Editar</a>
                    <a href="cooperativa/eliminar/<%= cooperativa.id_cooperativa %>" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
    <a href="cooperativa/crear" class="btn btn-outline-primary mt-4" >Crear nueva cooperativa</a>
</table>

<%-include('../base/footer')-%>