<%-include('../base/headerO')-%>

    <div class="card border-secondary">
        <div class="card-header">Nueva Queja</div>
        <div class="card-body">
            <form action="/quejas" method="POST">
                <div class="mb-3">
                    <label for="idCliente" class="form-label">Cliente</label>
                    <select class="form-control" name="idCliente" id="idCliente" tabindex="1">
                        <% clientes.forEach( cliente => { %>
                            <option value="<%= cliente.id_cliente %>"><%= cliente.nombre_cliente %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="idViaje" class="form-label">Viaje</label>
                    <select class="form-control" name="idViaje" id="idViaje" tabindex="1">
                        <% viajes.forEach( viaje => { %>
                            <option value="<%= viaje.id_viaje %>"><%= viaje.destino_viaje %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="idTaxista" class="form-label">Id Taxista</label>
                    <select class="form-control" name="idTaxista" id="idTaxista" tabindex="1">
                        <% taxistas.forEach( taxista => { %>
                            <option value="<%= taxista.id_taxista %>"><%= taxista.nombre_taxista %></option>
                        <% }) %>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="nombreQueja" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="nombreQueja" name="nombreQueja" tabindex="1">
                </div>
                <div class="mb-3">
                    <label for="descripcionQueja" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="descripcionQueja" name="descripcionQueja" tabindex="1">
                </div>
                <button type="submit" class="btn btn-pimary" tabindex="5">Guardar</button>
                <a href="/quejas" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>

<%-include('../base/footer')-%>