<%-include('../base/headerO')-%>

<h2>Bienvenido a la administración del Vehiculos</h2>
<table class="table table-bordered table-striped text-center mt-4"> 
    <thead> 
        <tr class ="bg-primary text-white"> 
            <th scope="col">Id</th> 
            <th scope="col">Taxista</th> 
            <th scope="col">Matricula</th> 
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th> 
            <th scope="col">Año</th>
            <th scope="col">Acciones</th> 
        </tr> 
    </thead> 
    <tbody> 
        <% vehiculos.forEach( vehiculo => { %>
            <tr> 
                <td><%= vehiculo.id_vehiculo %></td> 
                <td><% taxistas.forEach( taxista => { %>
                        <% if(taxista.id_taxista === vehiculo.id_taxista) { %>
                            <%= taxista.nombre_taxista %>
                        <% } %>
                    <% }) %>
                </td>
                <td><%= vehiculo.matricula %></td>
                <td><%= vehiculo.marca %></td> 
                <td><%= vehiculo.modelo %></td> 
                <td><%= vehiculo.anho %></td> 
                <td>
                    <a href="vehiculos/edit/<%= vehiculo.id_vehiculo %>" class="btn btn-outline-info">Editar</a>
                    <a href="vehiculos/eliminar/<%= vehiculo.id_vehiculo %>" class="btn btn-outline-danger">Eliminar</a>
                </td>
            </tr> 
        <% }) %>
    </tbody> 
    <a href="vehiculos/crear" class="btn btn-outline-primary mt-4" >Crear nuevo Vehiculo</a>
</table>


<%-include('../base/footer')-%>