<%-include('../base/headerO')-%>
<div class="container mt-4">
    <div class="card border-secondary">
        <div class="card-header">Ingresar Vehiculo de <%= newTaxista.nombre_taxista%></div>
        <div class="card-body">
            <form action="/vehiculos/vehiculoT" method="POST">
                <div class="mb-3">
                    <label for="idTaxista" class="form-label">Id Taxista</label>
                    <select class="form-control" name="idTaxista" id="idTaxista" tabindex="1" disabled>
                        <% taxistas.forEach( taxista => { %>
                            <% if(taxista.id_taxista === newTaxista.id_taxista) { %>
                                <option selected="true" value="<%= taxista.id_taxista %>"><%= taxista.nombre_taxista %></option>
                            <% } else { %>
                                <option value="<%= taxista.id_taxista %>"><%= taxista.nombre_taxista %></option>
                            <% } %>
                        <% }) %>
                    </select>
                    <input type="hidden" name="id_taxista" id="id_taxista" value="<%= newTaxista.id_taxista %>">
                </div>
                <div class="mb-3">
                    <label for="names" class="form-label">Matricula</label>
                    <input type="text" class="form-control" id="matricula" name="matricula" tabindex="1" required>
                </div>
                <div class="mb-3">
                    <label for="lastName" class="form-label">Marca</label>
                    <input type="text" class="form-control" id="marca" name="marca" tabindex="1" required>
                </div>
                <div class="mb-3">
                    <label for="userName" class="form-label">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo" tabindex="1" required>
                </div>
                <div class="mb-3">
                    <label for="anio" class="form-label">Año</label>
                    <input type="number" maxlength="4" class="form-control" id="anio" name="anio" tabindex="1" required>
                </div>
                <button type="submit" class="btn btn-pimary" tabindex="5">Guardar</button>
                <a href="/vehiculos" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</div>

<%-include('../base/footer')-%>